body {
  background-color: #141417;
  font-family: $font-rlw;
  scroll-behavior: smooth;
}

.main {
  .content-page {
    .section-title {
      h4,
      span,
      h4 a {
        font-family: $font-osw;
        font-weight: 700;
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 36px;
        line-height: 2.25rem;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 0px;
      }

      strong {
        color: #009b3a;
      }

      a.show-all {
        display: flex;
        color: #fff;
        margin-left: auto;
        line-height: 17px;
        background: #009b3a;
        padding: 4px 10px;
        border-radius: 2px;
        font-size: 14px;
      }
    }

    section.matches-section {
      margin-bottom: 2rem;

      .matches-title {
        margin-bottom: 1.5rem;

        h1 {
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 24px;
          line-height: 36px;
          line-height: 2.25rem;
          font-family: $font-osw;
        }
      }

      .matches-filter {
        margin-bottom: 1rem;

        .matches-tab {
          min-height: 50px;
          background-color: $secondary-color;
          border-radius: 8px;
          display: flex;
          align-items: center;

          ul.tab-filter {
            list-style: none;
            padding: 0;
            margin: 0;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            li {
              padding: 0 1rem;

              a {
                text-transform: uppercase;
                font-size: 13px;
                position: relative;
                font-family: $font-rlw;

                span {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 18px;
                  padding: 1px 8px;
                  border-radius: 20px;
                  margin-left: 6px;
                  font-family: $font-osw;
                }

                &.active,
                &:hover {
                  font-weight: bold;

                  span {
                    color: #000;
                  }
                }
              }
            }
          }

          $list-tab-colors: (
            "tab-now": #00efff,
            "tab-hot": #f1c371,
            "tab-commentator": #bc8f8f,
            "tab-today": #f6427f,
            "tab-tomorrow": #ff334f,
            "tab-all": #03be49,
          );

          // loop, to style color
          @each $name, $color in $list-tab-colors {
            // selector based on href name
            /* [class*='#{$name}'] {
                           background-color: $color;
                           @include hover-focus {
                             box-shadow: 0 8px 18px -8px $color;
                           }
                         }*/
            .#{$name} {
              color: $color;

              span {
                color: #fff;
                background-color: $color;
              }

              &.active {
                &:after {
                  content: "";
                  height: 2px;
                  width: 100%;
                  display: block;
                  background: $color;
                  position: absolute;
                  bottom: -10px;
                }
              }
            }
          }
        }

        .matches-leagues {
          .form-select {
            background-color: $secondary-color;
            border: none;
            outline: none;
            color: #dadbdb;
            height: 50px;
            font-family: $font-rlw;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
          }
        }
      }

      .matches-result {
        margin-bottom: 1rem;

        .match-item {
          background: url(../assets/img/match_bg.png) no-repeat #272727;
          background-size: cover;
          background-position: center;
          position: relative;
          border-radius: 5px;
          overflow: hidden;

          & > a {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
          }

          .match-item-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            padding: 0.5rem 0.9rem;

            .match-league {
              font-weight: 700;
              font-family: $font-rlw;
              font-size: 13px;
              line-height: 20px;
              color: #fff;
            }

            .match-date {
              font-family: $font-osw;
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: #ffffff;
              background: #e11d23;
              border-radius: 2px;
              padding: 3px 8px;
            }
          }

          .match-item-body {
            display: flex;
            justify-content: space-around;

            .match-team {
              display: flex;
              flex-direction: column;

              img:first-of-type {
                height: 2.5rem;
                object-fit: contain;
                margin-bottom: 7px;
              }

              span {
                color: #fff;
                text-align: center;
                font-family: $font-rlw;
                font-size: 0.8125rem;
                font-style: normal;
                font-weight: 600;
                line-height: 1.25rem;
                margin-bottom: 10px;
              }
            }

            .match-status {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              display: flex;
              flex-direction: column;
              align-items: center;

              .match-time {
                font-family: $font-rlw;
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 18px;
                text-align: center;
                color: #fff;
                margin-bottom: 10px;
                display: block;
                padding: 1px 10px;
                border-radius: 4px;

                &.time-bg {
                  background: #009b3a;
                }
              }

              .match-score {
                border-radius: 0.125rem;
                background: linear-gradient(
                  87deg,
                  #2196f3 -37.93%,
                  #2196f3 94.28%
                );
                padding: 3px 15px;
                display: block;
                color: #fff;
                text-align: center;
                font-family: $font-rlw;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.5rem;
              }

              .match-vs {
                color: #fff;
                text-align: center;
                font-family: $font-rlw;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.875rem;
              }
            }
          }

          .match-item-footer {
            position: relative;
            height: 2.75rem;
            padding: 0px 0.9rem;
            align-items: center;
            display: flex;
            justify-content: space-between;
            ul {
              display: flex;
              margin: 0;
              padding: 0;
              flex: 1;
              overflow-x: auto;
              li {
                list-style-type: none;
              }
            }

            .commentator {
              z-index: 1;
              a {
                display: flex;
                align-items: center;
              }
              span {
                color: #fff;
                text-align: center;
                font-family: $font-rlw;
                font-size: 0.7875rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1rem;
                margin-left: 5px;
              }
            }

            .btn-action {
              .btn-odds {
                background: linear-gradient(
                  96deg,
                  #008360 -2.23%,
                  #49ec44 117.28%
                );
                border-radius: 2px;
                color: #fff;
                text-align: center;
                font-family: $font-osw;
                font-size: 0.6875rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.125rem;
                text-transform: uppercase;
                padding: 0.25rem 0.75rem;
                position: relative;
                z-index: 2;
              }
            }

            &:after {
              position: absolute;
              background: linear-gradient(180deg, #5f5f6cb5 0%, #5f5f6cb5 100%);
              opacity: 0.75;
              content: "";
              width: 100%;
              height: 100%;
              left: 0;
            }
          }

          &.match-hot {
            .match-item-footer:after {
              background: linear-gradient(139deg, #64221c 0%, #8b4039 100%);
            }
          }
        }
      }

      .btn-load-more {
        background: $secondary-color;
        border-radius: 6px;
        width: 100%;
        display: block;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #009b3a;
        padding: 12px 20px;
        position: relative;
      }
    }

    section.news-section {
      margin-bottom: 2rem;

      > .row .row {
        margin: 0px;
      }

      .post-item {
        padding: 0px;

        .post-title {
          background: linear-gradient(90deg, $secondary-color 0%, #141417 100%);
          min-height: 165px;
          padding: 30px 20px;
          position: relative;

          h3 {
            margin: 0px;

            a {
              line-height: 30px;
              font-weight: 400;
              color: #f2f3f3;
              font-family: $font-osw;
              font-size: 18px;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          &:before {
            content: "";
            background: url(../assets/img/post_underline.png) no-repeat center;
            height: 3px;
            width: 100%;
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
          }
        }

        .post-thumbnail {
          a {
            position: relative;
            display: block;

            &:before {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              z-index: 2;
            }
          }
        }

        img {
          height: 225px;
          width: 100%;
          max-width: 100%;
          object-fit: cover;
        }

        &.post-featured {
          background: none;
          position: relative;
          @extend .col-lg-8;
          @extend .col-12;
          padding: 0px;

          img {
            width: 100%;
            height: 390px;
            max-width: 100%;
            object-fit: cover;
          }

          .post-title {
            position: absolute;
            background: none;
            z-index: 9;
            bottom: 0;
            padding: 20px 15px;
            min-height: auto;
            max-width: 330px;

            h3 {
              a {
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
              }
            }

            &:before {
              display: none;
            }
          }

          &:after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 1;
            background: linear-gradient(
              244.41deg,
              rgba(20, 20, 23, 0) 8.64%,
              #141417 100%
            );
            opacity: 0.5;
            border-radius: 2px;
          }

          @include max-breakpoint(992) {
            img {
              height: 270px;
            }

            .post-title {
              position: static;
              padding: 0px;
              @include rem("margin-top", 15);
            }

            &:after {
              display: none;
            }
          }
        }

        @media screen and (max-width: 992px) {
          @include rem("margin-bottom", 15);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          background: linear-gradient(90deg, $secondary-color 0%, #141417 100%);

          .post-thumbnail {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
            max-width: 41.66667%;
            position: relative;

            img {
              height: 128px;
              border-radius: 2px;
            }

            &:after {
              content: "";
              background: url(../assets/img/post_underline_small.png) no-repeat
                center;
              height: 3px;
              width: 100%;
              display: block;
              position: absolute;
              bottom: 0px;
              left: 0px;
            }
          }

          .post-title {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
            max-width: 58.33333%;
            min-height: inherit;
            padding: 15px;

            &:before {
              display: none;
            }

            h3 {
              a {
                font-family: $font-osw;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 25px;
                color: #f2f3f3;
              }
            }
          }

          &.post-featured {
            background: linear-gradient(
              90deg,
              $secondary-color 0%,
              #141417 100%
            );

            .post-title {
              margin-top: 0px;
              padding: 15px;

              h3 {
                a {
                  font-family: $font-osw;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 15px;
                  line-height: 25px;
                  color: #f2f3f3;
                }
              }
            }
          }
        }
      }

      .offer {
        background: $secondary-color;
        margin-bottom: 15px;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        padding: 26px 0px;

        &.offer_last_item {
          margin-bottom: 0px;
        }

        &_content_wrapper {
        }

        &_content {
        }

        &_col {
          display: flex;
          flex: 1 0 0%;
          flex-direction: column;
          padding: 0;
        }

        &_number {
          position: absolute;
          left: 0;
          top: 0;
          background: #0f4cd9;
          border-radius: 2px;
          width: 33px;
          height: 33px;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            font-family: $font-osw;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 25px;
            text-transform: uppercase;
            color: #fff;
          }
        }

        &_site {
        }

        &_logo {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 53px;

          img {
            width: 100%;
          }

          a {
            background: #ffffff;
            border-radius: 6px;
            overflow: hidden;
            display: block;
            width: 150px;
            height: 92px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 10px;
          }
        }

        .score {
          &_text {
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            text-align: center;
            color: #ffffff;
          }

          &_price {
            font-family: $font-osw;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 25px;
            color: #ffffff;
            display: block;
            @include rem("margin-bottom", 12);
          }

          &_stars {
            i {
              color: #ffba00;
              @include rem("font-size", 16);
            }
          }
        }

        .score-component {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-bottom: 1rem;
        }

        .offer_buttons {
          display: flex;
          align-items: center;
          justify-content: center;

          .offer_btn {
            background: linear-gradient(
              85.59deg,
              #009b3a -8.29%,
              #009b3a 62.2%,
              #00bd47 102.14%
            );
            border-radius: 2px;
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            color: #ffffff;
            padding: 9px 20px;
          }
        }

        &.offer-first {
          .offer_number {
            background: #e11d23;

            span {
              color: #fff;
            }
          }
        }
      }
    }

    section.video-section {
      margin-bottom: 2rem;

      .post-item {
        .post-title {
          background: linear-gradient(90deg, $secondary-color 0%, #141417 100%);
          min-height: 110px;
          padding: 15px 20px;
          position: relative;

          h3 {
            margin: 0px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            a {
              font-family: $font-osw;
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 25px;
              color: #f2f3f3;
              display: block;
            }
          }
        }

        img {
          width: 100%;
          height: 150px;
          max-width: 100%;
          object-fit: cover;
        }

        .icon-video-play {
          background: url(../assets/img/play_icon.png);
          width: 36px;
          height: 36px;
          display: block;
        }

        .post-thumbnail {
          position: relative;

          .icon-video-play {
            width: 24px;
            height: 24px;
            background-size: contain;
            position: absolute;
            bottom: 15px;
            left: 15px;
          }

          a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 999;
          }
        }

        &.post-featured {
          background: none;
          position: relative;
          @extend .col-12;
          padding: 0px;

          img {
            width: 100%;
            height: 520px;
            max-width: 100%;
            object-fit: cover;
          }

          .post-title {
            position: absolute;
            background: none;
            z-index: 9;
            bottom: 0;
            padding: 40px 20px;
            min-height: auto;

            h3 {
              a {
                font-family: $font-osw;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 30px;
                color: #f2f3f3;
              }
            }

            &:before {
              display: none;
            }

            .icon-video-play {
              margin-bottom: 10px;
            }
          }

          &:after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 1;
            background: linear-gradient(
              90deg,
              rgba(20, 20, 20, 0.5) 0%,
              rgba(20, 20, 20, 0) 100%
            );
            opacity: 0.5;
            border-radius: 2px;
          }
        }

        @media screen and (max-width: 991px) {
          display: flex;
          margin-bottom: 15px;

          img {
            height: 128px;
          }

          &.post-featured {
            img {
              height: 320px;
            }
          }
        }
      }
    }

    section.about-section {
      margin-bottom: 2rem;

      #toc-container {
        width: 100%;
        background: #141417;
        padding: 0px;
        border: none;

        .toc-title {
          display: none;
        }

        ul.toc-list {
          list-style: none;
          padding: 0;
          ul {
            list-style: none;
            padding: 0;
          }

          margin: 0px !important;

          > li {
            list-style: none;

            a {
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 18px;
              color: #717983;
              display: flex;
              align-items: center;
              padding: 12px 20px;
              min-height: 50px;
              transition: all 0.4s;
              text-decoration: none;

              &:hover {
                background: $secondary-color;
                border-radius: 6px 0px 0px 6px;
              }

              &.toc-item {
                &.active {
                  background: $secondary-color;
                  border-radius: 6px 0px 0px 6px;
                }
              }
            }
          }

          ul {
            margin: 0px;
          }
        }
      }

      .content {
        padding-left: 20px;
        padding-right: 20px;
        // padding-left: 32%;
        position: relative;
        background: $secondary-color;
        max-height: 710px;
        overflow-y: scroll;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        color: #f2f3f3;
        border-top-right-radius: 6px;
        padding-top: 20px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-family: $font-osw;
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 36px;
          color: #f2f3f3;
        }

        figure,
        img,
        iframe {
          max-width: 100%;
          height: auto;
        }

        a {
          color: #009b3a;
        }

        // &:after {
        //   content: "";
        //   background-image: url(../images/bg-after-desc.png);
        //   background-repeat: no-repeat;
        //   background-size: cover;
        //   display: block;
        //   position: absolute;
        //   top: 0;
        //   right: 0;
        //   width: 192px;
        //   height: 223px;
        // }
        ul {
          padding-left: 15px;

          li {
            list-style-type: disc;
          }
        }

        .wp-caption-text {
          text-align: center;
          font-style: italic;
        }
      }
    }
    
    section.match-bet-section {
      .match-result {
        background-image: url(../assets/img/match_info_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-evenly;
        min-height: 225px;
        position: relative;
        .match-score {
          font-family: $font-osw;
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 40px;
          text-transform: uppercase;
          color: #ffffff;
          margin-bottom: 7px;
        }
        .result-layout-center {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          @media screen and (max-width: 991px) {
            white-space: nowrap;
            .match-score {
              font-size: 26px;
            }
          }
        }
        .match-timer {
          &.kickoff-time p {
            width: 40px;
            height: 35px;
            font-size: 21px;
            color: #333;
            background-color: #ffc107;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5px;
            font-weight: 600;
            font-family: $font-osw;
        }
        &.kickoff-time span {
            color: #fff;
            font-weight: 600;
            font-size: 12px;
            font-family: $font-osw;
        }
        }
        .match-status {
          font-family: $font-osw;
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 18px;
          color: #009b3a;
          margin-bottom: 10px;
        }
        .match-team {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .team-logo {
            width: 80px;
            height: 80px;
            object-fit: contain;
            margin-bottom: 9px;
          }
          .team-name {
            a {
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 24px;
              color: #ffffff;
            }
          }
          @media screen and (min-width: 992px) {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
          }
          @media screen and (max-width: 991px) {
            .team-logo {
              width: 36px;
              height: 36px;
              margin-bottom: 2px;
            }
            .team-name {
              a {
                font-size: 10px;
                line-height: 16px;
              }
            }
          }
        }
        @media screen and (max-width: 992px) {
          margin-left: -15px;
          margin-right: -15px;
          justify-content: center;
          min-height: 190px;
          align-items: flex-start;
          padding-top: 20px;
          .result-layout-center {
            padding: 0px 20px;
          }
          .match-score {
            margin-bottom: 0px;
          }
          .match-team {
            flex: 1;
          }
          &__odds {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            .company {
              .pointer {
                font-weight: 600;
                padding: 1px 18px;
              }
            }
            .soccer {
              .item {
                span {
                  padding: 6px 0px;
                }
                .center {
                  margin: 0px 6px;
                  width: 33px;
                }
                .left,
                .right {
                  width: 152px;
                  max-width: 100%;
                }
              }
            }
          }
        }
        @media screen and (max-width: 767px) { 
            min-height: auto !important;
        }
      }

      .single-tab {
        ul {
          padding: 0;
          list-style: none;
          display: flex;
          background: #1a1d23;
          border-radius: 6px;
          align-items: center;
          justify-content: center;
          margin: 15px 0px;
          overflow-x: auto;
          white-space: nowrap;
        }
        ul li.li-first {
          border-left: 1px solid #33373d;
        }
        ul li {
          border-right: 1px solid #33373d;
        }
        ul li a {
          font-family: $font-osw;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 22px;
          text-transform: uppercase;
          color: #ffffff;
          display: block;
          padding: 7px 15px;
        }
        ul li a:hover {
          background: #01b243;
        }
      }

      .match-bet-info {
        margin-bottom: 1rem;
        .match-bet {
          .state {
            width: 50px;
          }
          .company {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 12px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background: #2a3038;
            .pointer {
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              border-radius: 78px;
              font-style: normal;
              font-weight: 300;
              @include rem("font-size", 13);
              @include rem("line-height", 18);
              @include rem("padding", 2, 28);
              margin: 0 4px;
              text-align: center;
              color: #fff;
              cursor: pointer;
              font-family: $font-osw;
              border: 1px solid #d9d9d9;
              box-sizing: border-box;
              border-radius: 78.9299px;
              &.active,
              &:hover {
                background: #009b3a;
                border: 1px solid #009b3a;
                color: #fff;
              }
            }
          }
          .soccer {
            .item {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              margin-bottom: 5px;
              .green {
                color: #63fe16 !important;
              }
              .orange {
                color: #ff775f !important;
              }
              > div {
                background: #2a3038;
                border-radius: 4px;
                border-radius: 2px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: distribute;
                justify-content: space-around;
                font-style: normal;
                font-family: $font-osw;
                font-weight: 300;
                font-size: 13px;
                line-height: 11px;
                color: #afb4ba;
              }
              .center {
                width: 40px;
                padding: 3px 0;
                margin: 0 8px;
              }
              .left,
              .right {
                width: 190px;
                flex: 1;
              }
              span {
                font-style: normal;
                font-size: 13px;
                line-height: 11px;
                padding: 8px 0;
                text-align: center;
                color: #afb4ba;
              }
            }
          }
        }

        .odds-header {
          background: #292b2e;
          padding: 0.38rem 0.62rem;
        }

        .match-bet--mb .oddContent span {
          color: #4fa747;
          font-family: Oswald;
          font-size: 0.8125rem;
          font-style: normal;
          font-weight: 700;
          line-height: 1.125rem;
          text-transform: uppercase;
        }

        .match-bet--mb .odds-type {
          display: flex;
          gap: 0.5rem;
        }

        .match-bet--mb .odds-type span {
          color: #fff;
          font-family: $font-osw;
          font-size: 0.6875rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.125rem;
          /* 163.636% */
          text-transform: uppercase;
          padding: 0.25rem 0.38rem;
          background: #292b2e;
          border: 1px solid rgba(28, 30, 31, 1);
          border-radius: 2px;
        }

        .match-bet--mb .odds-type span.active {
          border-color: #009139;
          color: #009139;
          box-shadow: 0px 2px 12px rgba(79, 167, 71, 0.2);
        }

        .match-bet {
          background: #212324;
          border-radius: 6px;
          border: 1px solid #3d434d;
        }

        .oddContent {
          position: relative;
        }

        .oddContent > span {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
        }

        .oddContent .oddList {
          background-color: #fff;
          position: absolute;
          z-index: 10;
          top: 35px;
          left: 0px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          padding: 0 !important;
        }

        .oddContent .oddList li {
          width: 115px;
          border-bottom: 1px solid #e2e2e2;
          box-sizing: border-box;
          cursor: pointer;
          padding: 5px 10px;
        }

        .oddType {
          max-width: 115px;
        }

        .match-bet .table {
          border-right: 1px solid #3d434d;
          margin-bottom: 0;
          padding: 0;
        }

        .match-bet .table.table-last {
          border: 0px;
        }

        .match-bet .company {
          flex-direction: column;
          padding: 10px 20px;
          flex: none;
          width: 160px;
        }

        .match-bet .company .head {
          padding: 0px 14px;
        }

        .match-bet .company select {
          background: transparent;
          border: 0px;
          outline: none;
          color: #fff;
          font-family: $font-rlw;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
        }

        .match-bet .company .pointer {
          margin-bottom: 15px;
          width: 100%;
        }

        // .match-bet .company .pointer:last-child {
        //   margin-bottom: 0;
        // }

        .match-bet .state {
          width: 56px;
          flex: none;
        }

        .match-bet .state span {
          color: #fff;
          text-align: center;
          font-family: $font-rlw;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 14px;
          text-transform: uppercase;
          background: #2a3038;
          width: 30px;
          height: 28px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
        }

        .match-bet .head {
          background: #292b2e;
          justify-content: center;
          align-items: center;
          display: flex;
          height: 42px;
          color: #fff;
          text-align: center;
          font-family: $font-rlw;
          font-size: 13px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          /* 153.846% */
          text-transform: uppercase;
          width: 100%;
          border-bottom: 1px solid #3d434d;
        }

        .match-bet .box {
          min-height: 42px;
          color: #fff;
          text-align: center;
          font-family: $font-rlw;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 14px;
          justify-content: center;
          display: flex;
          border-bottom: 1px solid #3d434d;
          margin: 0px;
        }

        .match-bet .type .box {
          height: 84px;
        }

        .match-bet .box.box-last {
          border-bottom: 0px;
        }

        .match-bet .box .col {
          align-items: center;
          text-align: center;
          flex: 1;
          justify-content: center;
          display: flex;
          font-family: $font-osw;
          font-size: 0.8125rem;
          font-style: normal;
          font-weight: 400;
          line-height: 0.875rem;
        }
        @media screen and (max-width: 992px) {
          .match-bet {
            .company {
              .pointer {
                font-weight: 600;
                padding: 1px 18px;
              }
            }
            .soccer {
              .item {
                span {
                  padding: 6px 0px;
                }
                .center {
                  margin: 0px 6px;
                  width: 33px;
                }
                .left,
                .right {
                  width: 152px;
                  max-width: 100%;
                }
              }
            }
          }
        }

        @media screen and (max-width: 767px) {
          .oddType {
            max-width: 60px;
          }
          /* new */
          /* .showOdds .table {border-top: 1px solid #3D434D;border-bottom: 0px;} */
          .head.active::before {
            display: none;
          }

          .showOdds {
            grid-gap: 1px;
            background: #3d434d;
            border-top: 1px solid #3d434d;
          }

          .showOdds .table {
            border-bottom: 0;
            border-right: 0px;
          }

          .showOdds .h-on {
            height: 0;
            opacity: 0;
          }

          .showOdds .h-off {
            height: auto;
            opacity: 1;
          }

          .match-bet .showOdds > * {
            background-color: #292b2e;
            /* màu nền của các phần tử con */
          }

          .showOdds .head-control span {
            background: none;
            color: #fff;
            font-family: $font-rlw;
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.125rem;
            /* 138.462% */
          }
      
          /* .showOdds .head-control:not(:first-child) {border-top: 1px solid #3D434D;} */
          .showOdds > .head-control.head-control-last {
            border-bottom: 0;
          }

          /* end new */
          .match-bet {
            position: static;
            transform: inherit;
            flex-direction: column !important;
          }

          .match-bet .company {
            flex-direction: row;
            width: auto;
            margin: 0px;
            padding: 10px;
            color: #4fa747;
            font-family: $font-osw;
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.125rem;
            /* 138.462% */
            text-transform: uppercase;
          }

          .match-bet .company .head {
            text-indent: inherit;
          }

          .match-bet .company .pointer {
            margin-bottom: 0px;
          }

          .match-bet .state {
            display: none;
          }

          .table .head {
            display: none;
          }

          .match-bet {
            margin-left: -15px;
            margin-right: -15px;
          }

          .marquee-container {
            margin: 0px -15px;
            width: auto;
          }

          .match-bet .showOdds {
            grid: 3;
            display: grid;
            grid-template-columns: 5.25rem 3.125rem 1fr;
          }

          .match-bet-type span {
            color: #fff;
            font-family: $font-osw;
            font-size: 0.6875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.125rem;
            /* 163.636% */
            text-transform: uppercase;
            border: 1px solid #1c1e1f;
            background: #292b2e;
            padding: 0.25rem 0.38rem;
            cursor: pointer;
          }

          .match-bet-type span.active {
            background: #009139;
            box-shadow: 0px 2px 12px rgba(79, 167, 71, 0.2);
          }

          .match-bet .company {
            margin-bottom: 0px !important;
            cursor: pointer;
          }

          .match-single-top {
            background: none;
            padding: 0px 15px;
          }
        }
      }

      .green {
        color: #009b3a !important;
      }

      .orange {
        color: #ff361e !important;
      }

      .green:after {
        content: "";
        background: url("https://samefacts.com/wp-content/themes/bongda/dist/images/icon-arrow-up.png")
          no-repeat top;
        width: 8px;
        height: 8px;
        display: inline-block;
        margin-left: 4px;
      }

      .orange:after {
        content: "";
        background: url("https://samefacts.com/wp-content/themes/bongda/dist/images/icon-arrow-down.png")
          no-repeat top;
        width: 8px;
        height: 8px;
        display: inline-block;
        margin-left: 4px;
      }
    }
    
    section.live-section {
      .player {
        .title-box {
          padding-left: 20px;
          position: relative;
          &:before {
            content: "";
            width: 5px;
            height: 36px;
            display: block;
            background: #009b3a;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
          h1 {
            font-family: $font-osw;
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 1;
            color: #f2f3f3;
            text-transform: inherit;
            display: block;
            margin-bottom: 0;
          }
          span {
            font-family: $font-rlw;
            font-style: italic;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            color: #afb4ba;
            text-transform: inherit;
          }
        }
        .fb-share {
          padding-left: 5px;
        }
        .btn-odds {
          background: linear-gradient(180deg, #ff7f23 0%, #ffbc09 100%);
          border-radius: 2px;
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 18px;
          color: #1a1d23;
          padding: 7px 12px;
          padding-left: 20px;
          position: relative;
          border: 0px;
          &:before {
            content: "\f0f3";
            font-family: "Font Awesome 6 Free";
            font-weight: 400;
            width: 14px;
            height: 14px;
            display: block;
            position: absolute;
            top: 40%;
            left: 3px;
            transform: translateY(-50%);
          }
        }
        .live-container {
          position: relative;
          margin-top: 11px;
          .odds-button {
            position: absolute;
            bottom: 10px;
            right: 10px;
            a {
              border-radius: 6px;
              padding: 8px 10px;
              text-decoration: none;
              margin-right: 9px;
              font-weight: 700;
              font-size: 14px;
              max-width: 85px;
              &.btn-red {
                background: #dd3333;
                color: #fff;
              }
              &.btn-yellow {
                background: #eeee22;
                color: #000;
              }
            }
          }
          .odds-button2 {
            position: absolute;
            top: 0px;
            right: 10px;
          }
        }
        &-left {
          #tv_links {
            flex-wrap: wrap;
            margin-top: 10px;
            a {
              background: #505861;
              border-radius: 2px;
              font-style: normal;
              font-weight: 700;
              font-size: 13px;
              line-height: 18px;
              color: #ffffff;
              @include rem("padding", 4, 5);
              @include rem("margin-right", 4);
              display: flex;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
              text-transform: uppercase;
              i {
                margin-right: 10px;
              }
              // &.action {
              //   i {
              //     background: url(../images/icon-play.png) no-repeat;
              //     width: 10px;
              //     height: 15px;
              //     display: block;
              //   }

              // }
              &.playing {
                background: #009b3a;
              }
            }
            .fb-share {
              display: flex;
              align-items: center;
              margin-left: auto;
            }

            .fb-share span {
              font-family: $font-rlw;
              font-style: italic;
              font-weight: normal;
              font-size: 11px;
              line-height: 16px;
              color: #f2f3f3;
              margin-left: 10px;
            }
          }
        }
        &-right {
          .card-header {
            padding: 0px;
            margin-bottom: 15px;
            justify-content: space-between;
            a {
              font-style: normal;
              font-weight: 700;
              font-size: 13px;
              line-height: 18px;
              color: #ffffff;
              border-radius: 2px;
              padding: 7px 21px;
              text-align: center;
            }
            .primary {
              background: #0f4cd9;
            }
            .success {
              background: #009b3a;
            }
            .danger {
              background: #e11d23;
            }
          }
          .chat-player {
            line-height: 0;
            iframe {
              height: 464px;
            }
            @media screen and (max-width: 991px) {
              iframe {
                height: 350px !important;
              }
            }
          }
          .wrap-heading-box {
            margin-top: 10px;
          }
          #chatBoxStatus {
            background: #2a3038;
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            color: #ffffff;
            cursor: pointer;
            width: 100%;
            height: 100%;
            padding: 6px 10px;
            text-align: center;
            margin-bottom: 0px;
          }
          @media screen and (max-width: 991px) {
            .wrap-heading-box {
              margin-top: 0px;
            }
            .card-header {
              margin-left: -6px;
              margin-right: -6px;
              margin-bottom: 5px;
              a {
                margin: 0px 6px;
                flex: 1;
              }
            }
          }
        }
      }
    }
    
    section.fb-comment-section {
      .content-box {
        background: #1a1d23;
        border-radius: 6px;
        padding: 20px;
        font-family: $font-rlw;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #f2f3f3;
        position: relative;
        z-index: 1;
        .fb-comments {
          background: #fff;
          margin-bottom: 15px;
        }
      }
    }
  }
}

.aligncenter {
  display: block;
  margin: calc($spacer / 2) auto;
  height: auto;
}

.wap-bottom {
  position: fixed;
  z-index: 1000;
  bottom: 0px;
  height: auto;
  width: 100%;
  .menu-bottom {
    background: #01b243;
    margin-bottom: 0;
    width: 100%;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        flex: 1;
        position: relative;
      }
    }
    li a {
      font-family: "Oswald", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      color: #fff;
      padding: 9px 12px;
      display: block;
      text-align: center;
      &:after {
        content: "";
        height: 110%;
        width: 1px;
        background: #e8e8e8;
        position: absolute;
        -webkit-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg);
        top: -2px;
        right: 0;
        display: block;
      }
      &.last-menu-bottom {
        &:after{
          display: none;
        }
      }
    }
  }
}

@include media-breakpoint-down(xl) { 
  .tab-filter{
    padding: 10px 0 !important; 
    li {
      padding: 5px 1rem !important;
    }
  }
 }
 @include media-breakpoint-down(md) { 
  .single-tab {
    ul {
      justify-content: flex-start !important;
    }
  }
 }
