body {
  background-color: #141417;
}

.main {
  .content-page {
    .section-title {

      h4,
      span,
      h4 a {
        font-family: $font-osw;
        font-weight: 700;
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 36px;
        line-height: 2.25rem;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 0px;
      }

      strong {
        color: #009b3a;
      }

      a.show-all {
        display: flex;
        color: #fff;
        margin-left: auto;
        line-height: 17px;
        background: #009b3a;
        padding: 4px 10px;
        border-radius: 2px;
        font-size: 14px;
      }
    }

    section.matches-section {
      margin-bottom: 2rem;

      .matches-title {
        margin-bottom: 1.5rem;

        h1 {
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 24px;
          line-height: 36px;
          line-height: 2.25rem;
          font-family: $font-osw;
        }
      }

      .matches-filter {
        margin-bottom: 1rem;

        .matches-tab {
          height: 50px;
          background-color: $secondary-color;
          border-radius: 8px;

          ul.tab-filter {
            list-style: none;
            padding: 0;
            margin: 0;
            height: 100%;
            align-items: center;

            li {
              padding: 0 1rem;

              a {
                text-transform: uppercase;
                font-size: 13px;
                position: relative;

                span {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 18px;
                  padding: 1px 8px;
                  border-radius: 20px;
                  margin-left: 6px;
                  font-family: $font-osw;
                }

                &.active {
                  font-weight: bold;

                  span {
                    color: #000;
                  }
                }
              }
            }
          }

          $list-tab-colors: (
            "tab-now": #00efff,
            "tab-hot": #f1c371,
            "tab-commentator": #bc8f8f,
            "tab-today": #f6427f,
            "tab-tomorrow": #ff334f,
            "tab-all": #03be49,
          );

        // loop, to style color
        @each $name, $color in $list-tab-colors {

          // selector based on href name
          /* [class*='#{$name}'] {
                           background-color: $color;
                           @include hover-focus {
                             box-shadow: 0 8px 18px -8px $color;
                           }
                         }*/
          .#{$name} {
            color: $color;

            span {
              color: #fff;
              background-color: $color;
            }

            &.active {
              &:after {
                content: "";
                height: 2px;
                width: 100%;
                display: block;
                background: $color;
                position: absolute;
                bottom: -10px;
              }
            }
          }
        }
      }

      .matches-leagues {
        .form-select {
          background-color: $secondary-color;
          border: none;
          outline: none;
          color: #dadbdb;
          height: 50px;
          font-family: "Raleway", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 18px;
        }
      }
    }

    .matches-result {
      margin-bottom: 1rem;

      .match-item {
        background: url(../assets/img/match_bg.png) no-repeat #272727;
        background-size: cover;
        background-position: center;
        position: relative;
        border-radius: 5px;
        overflow: hidden;

        &>a {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          z-index: 1;
        }

        .match-item-header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          padding: 0.5rem 0.9rem;

          .match-league {
            font-weight: 700;
            font-family: "Raleway", sans-serif;
            font-size: 13px;
            line-height: 20px;
            color: #fff;
          }

          .match-date {
            font-family: $font-osw;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #ffffff;
            background: #e11d23;
            border-radius: 2px;
            padding: 3px 8px;
          }
        }

        .match-item-body {
          display: flex;
          justify-content: space-around;

          .match-team {
            display: flex;
            flex-direction: column;

            img:first-of-type {
              height: 2.5rem;
              object-fit: contain;
              margin-bottom: 7px;
            }

            span {
              color: #fff;
              text-align: center;
              font-family: "Raleway";
              font-size: 0.8125rem;
              font-style: normal;
              font-weight: 600;
              line-height: 1.25rem;
              margin-bottom: 10px;
            }
          }

          .match-status {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;

            .match-time {
              font-family: "Raleway", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 13px;
              line-height: 18px;
              text-align: center;
              color: #fff;
              margin-bottom: 10px;
              display: block;
              padding: 1px 10px;
              border-radius: 4px;

              &.time-bg {
                background: #009b3a;
              }
            }

            .match-score {
              border-radius: 0.125rem;
              background: linear-gradient(87deg,
                  #2196f3 -37.93%,
                  #2196f3 94.28%);
              padding: 3px 15px;
              display: block;
              color: #fff;
              text-align: center;
              font-family: "Raleway";
              font-size: 1.5rem;
              font-style: normal;
              font-weight: 700;
              line-height: 1.5rem;
            }

            .match-vs {
              color: #fff;
              text-align: center;
              font-family: "Raleway";
              font-size: 2.5rem;
              font-style: normal;
              font-weight: 700;
              line-height: 1.875rem;
            }
          }
        }

        .match-item-footer {
          position: relative;
          height: 2.75rem;
          padding: 0px 0.9rem;
          align-items: center;
          display: flex;

          .commentator {
            z-index: 1;

            span {
              color: #fff;
              text-align: center;
              font-family: "Raleway";
              font-size: 0.7875rem;
              font-style: normal;
              font-weight: 700;
              line-height: 1rem;
            }
          }

          &:after {
            position: absolute;
            background: linear-gradient(180deg, #5f5f6cb5 0%, #5f5f6cb5 100%);
            opacity: 0.75;
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
          }
        }

        &.match-hot {
          .match-item-footer:after {
            background: linear-gradient(139deg, #64221c 0%, #8b4039 100%);
          }
        }
      }
    }

    .btn-load-more {
      background: $secondary-color;
      border-radius: 6px;
      width: 100%;
      display: block;
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      color: #009b3a;
      padding: 12px 20px;
      position: relative;
    }
  }

  section.news-section {
    margin-bottom: 2rem;

    >.row .row {
      margin: 0px;
    }

    .post-item {
      padding: 0px;

      .post-title {
        background: linear-gradient(90deg, $secondary-color 0%, #141417 100%);
        min-height: 165px;
        padding: 30px 20px;
        position: relative;

        h3 {
          margin: 0px;

          a {
            line-height: 30px;
            font-weight: 400;
            color: #f2f3f3;
            font-family: $font-osw;
            font-size: 18px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &:before {
          content: "";
          background: url(../assets/img/post_underline.png) no-repeat center;
          height: 3px;
          width: 100%;
          display: block;
          position: absolute;
          top: 0px;
          left: 0px;
        }
      }

      .post-thumbnail {
        a {
          position: relative;
          display: block;

          &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
          }
        }
      }

      img {
        height: 225px;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
      }

      &.post-featured {
        background: none;
        position: relative;
        @extend .col-lg-8;
        @extend .col-12;
        padding: 0px;

        img {
          width: 100%;
          height: 390px;
          max-width: 100%;
          object-fit: cover;
        }

        .post-title {
          position: absolute;
          background: none;
          z-index: 9;
          bottom: 0;
          padding: 20px 15px;
          min-height: auto;
          max-width: 330px;

          h3 {
            a {
              font-size: 20px;
              font-weight: 700;
              line-height: 30px;
            }
          }

          &:before {
            display: none;
          }
        }

        &:after {
          content: "";
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          display: block;
          z-index: 1;
          background: linear-gradient(244.41deg,
              rgba(20, 20, 23, 0) 8.64%,
              #141417 100%);
          opacity: 0.5;
          border-radius: 2px;
        }

        @include max-breakpoint(992) {
          img {
            height: 270px;
          }

          .post-title {
            position: static;
            padding: 0px;
            @include rem("margin-top", 15);
          }

          &:after {
            display: none;
          }
        }
      }

      @media screen and (max-width: 992px) {
        @include rem("margin-bottom", 15);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        background: linear-gradient(90deg, $secondary-color 0%, #141417 100%);

        .post-thumbnail {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
          max-width: 41.66667%;
          position: relative;

          img {
            height: 128px;
            border-radius: 2px;
          }

          &:after {
            content: "";
            background: url(../assets/img/post_underline_small.png) no-repeat center;
            height: 3px;
            width: 100%;
            display: block;
            position: absolute;
            bottom: 0px;
            left: 0px;
          }
        }

        .post-title {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
          max-width: 58.33333%;
          min-height: inherit;
          padding: 15px;

          &:before {
            display: none;
          }

          h3 {
            a {
              font-family: $font-osw;
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 25px;
              color: #f2f3f3;
            }
          }
        }

        &.post-featured {
          background: linear-gradient(90deg, $secondary-color 0%, #141417 100%);

          .post-title {
            margin-top: 0px;
            padding: 15px;

            h3 {
              a {
                font-family: $font-osw;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 25px;
                color: #f2f3f3;
              }
            }
          }
        }
      }
    }

    .offer {
      background: $secondary-color;
      margin-bottom: 15px;
      position: relative;
      border-radius: 2px;
      overflow: hidden;
      padding: 26px 0px;

      &:last-child {
        margin-bottom: 0px;
      }

      &__content__wrapper {}

      &__content {}

      &__col {
        display: flex;
        flex: 1 0 0%;
        flex-direction: column;
        padding: 0;
      }

      &__number {
        position: absolute;
        left: 0;
        top: 0;
        background: #0f4cd9;
        border-radius: 2px;
        width: 33px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-family: $font-osw;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 25px;
          text-transform: uppercase;
          color: #fff;
        }
      }

      &__site {}

      &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 53px;

        img {
          width: 100%;
        }

        a {
          background: #ffffff;
          border-radius: 6px;
          overflow: hidden;
          display: block;
          width: 150px;
          height: 92px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0px 10px;
        }
      }

      .score {
        &__text {
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          text-align: center;
          color: #ffffff;
        }

        &__price {
          font-family: $font-osw;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 25px;
          color: #ffffff;
          display: block;
          @include rem("margin-bottom", 12);
        }

        &__stars {
          i {
            color: #ffba00;
            @include rem("font-size", 16);
          }
        }
      }

      .score-component {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1rem;
      }

      .offer__buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        .offer__btn {
          background: linear-gradient(85.59deg,
              #009b3a -8.29%,
              #009b3a 62.2%,
              #00bd47 102.14%);
          border-radius: 2px;
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 18px;
          color: #ffffff;
          padding: 9px 20px;
        }
      }

      &:first-child {
        .offer__number {
          background: #e11d23;

          span {
            color: #fff;
          }
        }
      }
    }
  }

  section.video-section {
    margin-bottom: 2rem;

    .post-item {
      .post-title {
        background: linear-gradient(90deg, $secondary-color 0%, #141417 100%);
        min-height: 110px;
        padding: 15px 20px;
        position: relative;

        h3 {
          margin: 0px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          a {
            font-family: $font-osw;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            color: #f2f3f3;
            display: block;
          }
        }
      }

      img {
        width: 100%;
        height: 150px;
        max-width: 100%;
        object-fit: cover;
      }

      .icon-video-play {
        background: url(../assets/img/play_icon.png);
        width: 36px;
        height: 36px;
        display: block;
      }

      .post-thumbnail {
        position: relative;

        .icon-video-play {
          width: 24px;
          height: 24px;
          background-size: contain;
          position: absolute;
          bottom: 15px;
          left: 15px;
        }

        a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 999;
        }
      }

      &.post-featured {
        background: none;
        position: relative;
        @extend .col-12;
        padding: 0px;

        img {
          width: 100%;
          height: 520px;
          max-width: 100%;
          object-fit: cover;
        }

        .post-title {
          position: absolute;
          background: none;
          z-index: 9;
          bottom: 0;
          padding: 40px 20px;
          min-height: auto;

          h3 {
            a {
              font-family: $font-osw;
              font-style: normal;
              font-weight: bold;
              font-size: 20px;
              line-height: 30px;
              color: #f2f3f3;
            }
          }

          &:before {
            display: none;
          }

          .icon-video-play {
            margin-bottom: 10px;
          }
        }

        &:after {
          content: "";
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          display: block;
          z-index: 1;
          background: linear-gradient(90deg,
              rgba(20, 20, 20, 0.5) 0%,
              rgba(20, 20, 20, 0) 100%);
          opacity: 0.5;
          border-radius: 2px;
        }
      }

      @media screen and (max-width: 991px) {
        display: flex;
        margin-bottom: 15px;

        img {
          height: 128px;
        }

        .post-thumbnail {
          width: 100%;
        }

        &.post-featured {
          img {
            height: 320px;
          }
        }
      }
    }
  }

  section.about-section {
    margin-bottom: 2rem;

    #toc-container {
      width: 100%;
      background: #141417;
      padding: 0px;
      border: none;

      .toc-title {
        display: none;
      }

      ul.toc-list {
        list-style: none;

        ul {
          list-style: none;
          padding: 0;
        }

        margin: 0px !important;

        >li {
          list-style: none;

          a {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            color: #717983;
            display: flex;
            align-items: center;
            padding: 12px 20px;
            min-height: 50px;
            transition: all 0.4s;
            text-decoration: none;

            &:hover {
              background: $secondary-color;
              border-radius: 6px 0px 0px 6px;
            }

            &.toc-item {
              &.active {
                background: $secondary-color;
                border-radius: 6px 0px 0px 6px;
              }
            }
          }
        }

        ul {
          margin: 0px;
        }
      }
    }

    .content {
      padding-left: 20px;
      padding-right: 20px;
      // padding-left: 32%;
      position: relative;
      background: $secondary-color;
      max-height: 710px;
      overflow-y: scroll;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      color: #f2f3f3;
      border-top-right-radius: 6px;
      padding-top: 20px;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: $font-osw;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #f2f3f3;
      }

      figure,
      img,
      iframe {
        max-width: 100%;
      }

      a {
        color: #009b3a;
      }

      // &:after {
      //   content: "";
      //   background-image: url(../images/bg-after-desc.png);
      //   background-repeat: no-repeat;
      //   background-size: cover;
      //   display: block;
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   width: 192px;
      //   height: 223px;
      // }
      ul {
        padding-left: 15px;

        li {
          list-style-type: disc;
        }
      }

      .wp-caption-text {
        text-align: center;
        font-style: italic;
      }
    }
  }
}
}

.aligncenter {
  display: block;
  margin: calc($spacer / 2) auto;
  height: auto;
}