header {
  background-color: #01b243;
  margin-bottom: 1.5rem;
  .container {
    position: relative;
    padding-left: 310px;
  }

  nav.navbar {
    padding: 0;
    height: 100%;
  }
  .logo-sticky {
    background: #fff;
    z-index: 99;
    left: -25px;
    top: 0px;
    position: absolute;
    height: 104px;
    border-top-right-radius: 104px;
    border-bottom-right-radius: 104px;
    padding-right: 30px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 250px;
      height: 50px;
      object-fit: contain;
    }
    &:before {
      content: "";
      background: #fff;
      position: absolute;
      right: 100%;
      height: 100%;
      width: 100%;
    }
  }
  a.navbar-brand {
    background-color: #fff;
    border-radius: 0 999px 999px 0;
    margin-right: 0;
    img {
      width: 250px;
      height: 50px;
      object-fit: contain;
      z-index: 2;
    }
  }

  ul.navbar-nav {
    height: 56px;
    align-items: center;
    a {
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      text-transform: uppercase;
      color: #fff;
      opacity: 0.85;
      font-family: "Oswald", sans-serif;
    }

    li {
      margin: 0 0.7rem;

      &.top-dealer {
        a {
          background: #dc3444;
        }
      }
      &.nav-item-8xbet {
        margin-right: 0;
        a{
            background: #ffc107;
            color: #000 !important;
        }
      }
    }

    li:last-child {
        margin-left: 0;
      a {
        color: transparent !important;
        display: inline-block;
        width: 150px;
        height: 40px;
        background: url(../assets/img/bongdainfo.gif) no-repeat center center !important;
        white-space: nowrap;
        background-size: cover !important;
      }
    }
  }
  .sub-menu {
    background: #fff;
    width: 100%;
    position: relative;
    height: 42px;
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      display: flex;
      li {
        padding: 4px;
        a {
          font-size: 15px;
          line-height: 24px;
          font-weight: 400;
          padding: 5px 10px;
          display: block;
          font-family: $font-osw;
        }
        &.style-1 {
          a {
            background: #28a745;
            color: #fff;
          }
        }
        &.style-2 {
          a {
            background: #fc5407;
            color: #fff;
          }
        }
        &.style-3 {
          a {
            background: #17a2b8;
            color: #fff;
          }
        }
        &.style-4 {
          a {
            background: #dc3545;
            color: #fff;
          }
        }
        &.style-5 {
          a {
            background: #032244;
            color: #febc11;
          }
        }
        &.style-6 {
          a {
            background: #0f4cd9;
            color: #fff;
          }
        }
        &.style-7 {
          a {
            background: #ffc107;
            color: #000;
          }
        }
        &.style-8 {
          a {
            background: #ce171f;
            color: #fff;
          }
        }
        &.style-9 {
        }
      }
    }
  }
}
